*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
    background-color:beige;
}

.Container h1 {
    text-align: center;
    color: chocolate;
    
}

.Container p{
    font-size: 1.2rem;
}
