*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecera {
    background: #19A48D;
    color: black;
    font-family: Arial;
    margin: 0;
    border: 1px;
}

.Container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}

.Container h1 {
    font-size: 20px;
}